footer.footer
  .container
    .content.has-text-centered
      p
        | &copy; 2018 ZXB Foundation. All rights reserved.
        br
        a(href='#') Terms of Service
        | &nbsp;&nbsp;|&nbsp;&nbsp;
        a(href='#') Privacy Policy

      span.icon.is-large
        i.fab.fa-reddit.fa-2x
      span.icon.is-large
        i.fab.fa-medium.fa-2x
      a(href='https://t.me/joinchat/Ghie3Q-MRlI8MthTSLxk4Q', target='_blank')
        span.icon.is-large
          i.fab.fa-telegram.fa-2x
      span.icon.is-large
        i.fab.fa-bitcoin.fa-2x
      span.icon.is-large
        i.fab.fa-facebook.fa-2x
      span.icon.is-large
        i.fab.fa-twitter.fa-2x
