nav.navbar.is-primary.is-fixed-top
  .container
    .navbar-brand
      .navbar-item.has-text-weight-bold
        img(src='http://7xkh57.com1.z0.glb.clouddn.com/zxbs.png')
        | &nbsp;0xBEER (ZXB)
      .navbar-burger.burger(data-target='navMenu')
        span
        span
        span
    #navMenu.navbar-menu
      .navbar-end
        a.navbar-item(href='./index.html') Home
        a.navbar-item(href='./resource.html') Resources
        a.navbar-item(href='./team.html') Team
        a.navbar-item(href='./token.html', style='text-decoration: underline;') TOKENSALE
        a.navbar-item(href='http://blog.0x.beer') Blog
