extends layout
block content
  body
    include navigation
    section.section
      .container

        .content.has-text-centered
          h3 Members &amp; Advisors
          p.is-size-6 Our team consists of diverse cryptography, brewery and finance veterans with decades of experience of rolling out large-scale projects.

        .columns.is-multiline
          .column.is-one-third
            .card
              .card-content
                .media
                  .media-left
                    figure.image.is-96x96
                      img(src='', alt='fig 1')
                  .media-content
                    p.title.is-4 Neo Huang
                    p.subtitle.is-6 Co-founder
                .content
                  | MBA in Global Management, he has over 10 years of experience in business operations, 
                  | enterprise consultation and government relations.
          .column.is-one-third
            .card
              .card-content
                .media
                  .media-left
                    figure.image.is-96x96
                      img(src='', alt='fig 2')
                  .media-content
                    p.title.is-4 Richard Ao
                    p.subtitle.is-6 Co-founder
                .content
                  | MS in Computer Science, formerly with IBM and Huawei, he has over 10 years of experience in 
                  | solution consulting, software developing and project delivering.
          .column.is-one-third
            .card
              .card-content
                .media
                  .media-left
                    figure.image.is-96x96
                      img(src='', alt='fig 3')
                  .media-content
                    p.title.is-4 Roger Li
                    p.subtitle.is-6 Blockchain &amp; Mobile Lead
                .content
                  | MS in Computer Science, former Senior Software Engineer with Tencent and Oracle. 
                  | He is experienced in mobile app development, blockchain technologies and AI.
          .column.is-one-third
            .card
              .card-content
                .media
                  .media-left
                    figure.image.is-96x96
                      img(src='', alt='fig 4')
                  .media-content
                    p.title.is-4 Joe Wang
                    p.subtitle.is-6 Tech Lead
                .content
                  | MS in Computer Science, former Technical Principal of the Shanghai Distributed Computing Technologies Center
          .column.is-one-third
            .card
              .card-content
                .media
                  .media-left
                    figure.image.is-96x96
                      img(src='', alt='fig 5')
                  .media-content
                    p.title.is-4 Jason J.
                    p.subtitle.is-6 Lead Designer
                .content
                  | An influential designer with abundant experience in brand, graphic and UX/UI design.
          .column.is-one-third
            .card
              .card-content
                .media
                  .media-left
                    figure.image.is-96x96
                      img(src='', alt='fig 6')
                  .media-content
                    p.title.is-4 P. Seifert
                    p.subtitle.is-6 Chief Strategy Advisor
                .content
                  | CEO of a famous German manufacturer of brewing equipments for 25 years, 
                  | owner of a craft beer brewery in Brandenburg Germany, expert in brewing 
                  | technology and brewpub business with over 40 years' professional experience.
          .column.is-one-third
            .card
              .card-content
                .media
                  .media-left
                    figure.image.is-96x96
                      img(src='', alt='fig 7')
                  .media-content
                    p.title.is-4 Maryann S.
                    p.subtitle.is-6 Chief Finance Advisor
                .content
                  | MS in Financial Analysis &amp; Investment Management, 
                  | she has over 15 years experience in finance and capital markets. 
                  | She was formerly with Morgan Stanley and currently operates her own finance company in Silicon Valley.
    include footer
